.o-container{
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Other{
    
    width: 80%;
    display: flex;
    flex-direction: column;
}
.Other-title{
    
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.Other-title button{
    border: none;
    width: 150px;
    background-color: white;
    border-radius: 40px;
    transition: 0.3s;
    cursor: pointer;
}
.Other-title button:hover{
    background-color: rgb(231, 231, 231);
}
.card-container{
    display: grid;
    grid-template-columns: 380px 380px 380px;
    justify-content: center ;
    gap: 10px;
    
}